body {
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
}

h2,
h3 {
    color: #2c3e50;
}

.container {
    background: #ffffff;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    color: #444;
}

section {
    margin: 20px 0;
}

#visualizations div {
    margin: 20px 0;
}
